:root{
    --primary-color:#033b4a;
    --secondary-color:#20c997;
    --grat:#4a4a4d;
    --bg-primary:#ecf0f3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background: var(--bg-primary);
    height: 100vh;
}
header .navbar{
    background: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header .navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem 2rem;
}
header #logo{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
}
header .navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar nav ul a{
    margin: 0 15px ;
    color: var(--primary-color);
    font-weight: 600;
}
header .header-content{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    max-width: 1100px;
    margin: auto;
    height: 100%;
    align-items: center;
    padding: 5rem 2rem 0;
}
header .header-content img{
    max-width: 450px;
}
.text-primary{
    color: var(--secondary-color);
}
header .header-content p span{
    font-size: 20px;
    font-weight: 700;
}
header .header-content h1{
    font-size: 60px;
    color: var(--primary-color);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-top: 10px ;
}
header .header-content .title{
    font-size: 20px;
    color: var(--primary-color);
    margin: 10px 0;
    font-weight: 500;
}
header .header-content .social{
    margin: 1rem 0 2rem;
}
header .header-content .social i{
    font-size: 17px ;
    padding: 10px;
    background: var(--grat);
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s ease;
}
header .header-content .social i:hover{
    transform: scale(0.85);
}
.btn-primary{
    background: var(--secondary-color);
    color: #fff;
    padding: 8px 20px;
    font-size: 14px ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-primary:hover{
    background: #15a076;
}
header .header-content .content-text{
    margin-bottom: 5rem;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}
#about ,
#skills,
#services,
#Portfolio{
    padding: 6rem 0;
}
#about h2,
#skills h2,
#services h2,
#Portfolio h2,
#contact h2{
    text-align: center;
    font-size: 38px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}
#about hr,
#skills hr,
#services hr,
#Portfolio hr{
    width: 100px;
    height: 3px;
    background: var(--secondary-color);
    border: none;
    margin: 5px auto 0;
}
#about .about-content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}
#about .about-content .col-1 h3{
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom:20px;
}
#about .about-content .col-1 p{
    color: var(--grat);
    margin-bottom: 20px;
    line-height: 1.8;
}
#about .about-content .col-2 p{
    color: var(--grat);
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
#skills{
    background: var(--primary-color);
}
#skills .row img{
    max-width: 40px;
}
#skills h2,
#Portfolio h2{
    color: #fff;
}
#skills .skills-content{
    margin-top: 2rem;
    background: #0f272d ;
}
#skills .skills-content .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
}
#skills .skills-content .row .item{
    color: #fff;
    background: #000;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px ;
    font-weight: 600;
    transition: all 0.3s ease;
}
#skills .skills-content .row .item:hover{
    box-shadow: 10px 10px 10px #00f4ab0c;
}
#services,
#contact{
    background: #00f4ab0c;
}
#services .heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
#services .heading img{
    width: 55px;
    margin-right: 10px;
}
#services  .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    text-align: center;
    column-gap: 2rem;
    row-gap: 4rem;
}
#services  .row .item {
    background-color: #fff;
    padding: 30px 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 0.3s ease;
}
#services  .row .item:hover{
    transform: scale(1.04);
}
#services  .row .item h3 {
    margin: 15px 0;
    color: var(--primary-color);
}
#services  .row .item p{
    font-size: 14px;
}
#services  .row .item img{
    width: 75px;
}
#Portfolio{
    background: var(--primary-color);
}
#Portfolio .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}
#Portfolio .row .item img{
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid #ccc;
}
#Portfolio .row .item{
    background: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#Portfolio .row .item:hover{
    transform: scale(1.03);
}
#Portfolio .row .item .item-content{
    padding: 20px 15px 30px;
}
#Portfolio .row .item .item-content h3{
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
}
#Portfolio .row .item .item-content a{
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 500;
}
#contact{
    padding: 4rem 0;
}
#contact .row{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    background: #fff;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    padding: 2rem 3rem;
    border-radius: 10px;
}
#contact .row input,
#contact .row textarea{
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    outline: none;
    background: #00f4ab0c;
    border: 1px solid #bbb;
}
#footer{
    background: #222;
    color: #fff;
    padding: 1rem 0 ;
    text-align: center;
}
@media(max-width:768px){
    header .navbar nav{
        display: block;
        text-align: center;
    }
    header .navbar nav ul{
        margin-top: 20px;
    }
    header .navbar nav ul a{
        margin: 0 8px;
    }
    header .header-content{
        grid-template-columns: 1fr;
    }
    header .header-content .content-text{
        margin-bottom:0rem;
        margin-top: 5rem;
    }
    header .header-content img{
        max-width: 350px;
        margin: auto;
    }
    header .header-content h1{
        font-size: 50;
    }
    #about .about-content,
    #contact .row{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    #skills .skills-content .row,
    #services  .row,
    #Portfolio .row{
        grid-template-columns: repeat(2, 1fr);
    }
    #contact .row img{
        max-width: 250px;
        margin: auto;
    }
}
@media(max-width:528px){
    header .header-content h1{
        font-size: 30px;
    }
    header .header-content img{
        max-width: 320px;
        margin: auto;
    }
    header .header-content p span,
    header .header-content .title{
        font-size: 16px;
    }
    header .header-content img{
        margin-top: 2rem;
    }
    #about h2,
    #skills h2,
    #services h2,
    #Portfolio h2,
    #contact h2{
    font-size: 30px;
    }
    #about .about-content .col-1 h3{
        font-size: 20px;
    }
    #skills .skills-content .row,
    #services  .row,
    #Portfolio .row{
        grid-template-columns:1fr;
    }
    #contact .row{
        padding: 2rem 1rem ;
    }
}